
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

body{
  background: #f8efd0 url(../images/bg.png) center top repeat-x fixed;
}
.container-fluid{
  max-width: 600px;
  margin: 0 auto;
}

#main{
  /*margin: 0 auto;*/
  /*max-width: 600px;*/
}

.article{
  background-color: #fff;
  margin-bottom: 35px;
  opacity: .9;
  position: relative;

  border: 1px solid #dedede;
  padding: 0 20px;
}

.article-footer{

}

.article-footer .tag-lists{
  text-align: right;
}

.tag-lists span{
  display: inline-block;
  background: url(../images/tag.png) 5px center no-repeat;
  padding: 3px 10px;
  padding-left: 20px;
  margin: 10px;
  margin-right: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.1);
  box-shadow: 0 0 4px rgba(0,0,0,.1);

}
.tag-lists span a{
  color: #333;
}


.post_date{
  position: absolute;
  top: 5px;
  left: -80px;
  width: 80px;
  height: 48px;
  line-height: 24px;
  color: #fff;
  text-align: right;
  color: #fff;
  background: url("../images/date_bg.png") top left no-repeat;
}
.post_date .q-day{
  font-size: 20px;
  padding: 2px 4px 0 0;
}
.post_date .q-month-year{
  font-size: 12px;
  padding-right: 4px;
}

.post-title{
  color: #3a3a3a;
  font-size: 20px;
}

.post-title a{
  color: #454545;
}

.post-title a:hover{
  color: #5c789d;
}


/*comments*/
#comments{
}

#comments dl{ overflow: hidden; font-size: 12px;}
#comments dl dt{
  float: left;
  width: 70px;
}
#comments dl dt img{
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
#comments dl dd{
  float: left;
  width: 490px;
  background: #fff;
  border-radius: 5px;
}


/*comment*/

.triangle-isosceles {
  position:relative;
  padding:0 15px;
  color:#000;
  background:#fff;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.triangle-isosceles.left {
  background:#fff;
}
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px;
  left:50px;
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#fff transparent;

  display:block;
  width:0;
}


.triangle-isosceles.left:after {
  top: 16px;
  left: -20px;
  bottom: auto;
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff;
}

.comment-title{
  padding: 5px 0;
}
.comment-title a{
  margin-right: 10px;
}

/*comment form*/
#comment_content{
  width: 586px;
  height: 100px;
}
.comment_btn{
  float: right;
}


/*login block*/
.login-block{
  height: 30px;
  line-height: 30px;
  opacity: .8;
  /*text-align: right;*/
}
.login-block form{
  text-align: right;
}

/*logo*/
.logo-block{
  position: relative;
  height: 200px;
  text-align: center;
  font-family: 'Lobster Two', cursive;
}

.logo-block a{
  color: #343131;
}

.logo-block .logo-cell{
  position: absolute;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 35px;
  background: #eef4ee;
  opacity: .8;
}

.logo-cell.logo {
  top: 30px;
  width: 124px;
  height: 124px;
  line-height: 124px;
  border-radius: 62px;
  left: 40%;
  background: url("../images/logo.png") center center no-repeat;

  font-size: 35px;
  color: white;
}

.logo-block a:hover{
  text-decoration: none;
  opacity: 1;
}

.logo-cell.nav-1, .logo-cell.nav-3{
  left: 25%;
}

.logo-cell.nav-3, .logo-cell.nav-4{
  top: 120px;
}

.logo-cell.nav-2, .logo-cell.nav-4{
  right: 25%;
}
